<div class="container">
  <h2>User Settings</h2>
  <hr/>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" *ngIf='userSettings'>
    <input type="hidden" name="id" id="id" [(ngModel)]="userSettings.id"/>
  <!-- <form #form="ngForm" *ngIf='userSettings'> -->
    <div class="form-group"> 
      <label for="name">Name</label>
      <input name="name" id="name" class="form-control" [class.field-error]="form.submitted && nameField.invalid" placeholder="Name" 
             [(ngModel)]="userSettings.name" required pattern="[a-zA-Z\s]*" #nameField="ngModel" (blur)="onBlur(nameField)"
      />
      <div [hidden]="!form.submitted || nameField.valid" class="callout callout-danger">Enter a valid name.</div>
    </div>
<!--     <button type="button" class="btn btn-primary" name="singleModel"
            [(ngModel)]="singleModel" btnCheckbox
            btnCheckboxTrue="On" btnCheckboxFalse="Off">
      {{ singleModel }}
    </button> -->
    <div class="form-group"> 
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" [class.field-error]="form.submitted && emailField.invalid" [(ngModel)]="userSettings.email" #emailField="ngModel"/>
        <div [hidden]="!form.submitted || emailField.valid" class="callout callout-danger">Enter a valid email address.</div>
      </div>
    <div class="form-group"> 
      <label for="dob">Date of Birth</label>
      <input name="dob" id="dob" class="form-control" [class.field-error]="form.submitted && dobField.invalid" [(ngModel)]="userSettings.dob" #dobField="ngModel"
        bsDatepicker 
        [(bsValue)]="newVar" 
        value="{{ newVar | date:'yyyy-MM-dd' }}"
        [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}" />      
      <div [hidden]="!form.submitted || dobField.valid" class="callout callout-danger">Enter a valid date.</div>
    </div>
    <div class="form-group"> 
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="form-control" [class.field-error]="form.submitted && passwordField.invalid" placeholder="" value="{{userSettings.password}}" [(ngModel)]="userSettings.password" #passwordField="ngModel" required pattern="^.{6,15}$"/>
      <div [hidden]="!form.submitted || passwordField.valid" class="callout callout-danger">Enter a valid password.</div>
    </div>
    <div class="form-check">
      <input name="emailOffers" id="emailOffers" class="form-check-input" type="checkbox" value="{{userSettings.emailOffers}}" [(ngModel)]="userSettings.emailOffers"/>
      <label for="emailOffers" class="form-check-label">Email Special Offers</label>
    </div>
    <br/>
    <p>Interface Background</p>
    <div class="btn-group">
      <label class="btn btn-primary" [(ngModel)]="userSettings.backgroundColour" name="backgroundColour"
             btnRadio="Light" tabindex="0" role="button">Light</label>
      <label class="btn btn-primary" [(ngModel)]="userSettings.backgroundColour" name="backgroundColour"
             btnRadio="Medium" tabindex="0" role="button">Medium</label>
      <label class="btn btn-primary" [(ngModel)]="userSettings.backgroundColour" name="backgroundColour"
             btnRadio="Dark" tabindex="0" role="button">Dark</label>
    </div>
    <br/>
    <div class="form-group">
      <label for="subscriptionType">Subscription</label>
      <select id="subscriptionType" name="subscriptionType" class="form-control" [(ngModel)]="userSettings.subscriptionType">
        <option *ngFor="let type of subscriptionTypes | async" value="{{ type.value }}">{{type.name}} - {{type.price | currency}}</option>
<!--         <option value="1">Weekly</option>
        <option value="2">Monthly</option>
        <option value="3">Yearly</option> -->
      </select>
    </div>
    <pm-star [rating]='userSettings.rating' (notify)='onNotify($event);'></pm-star>
    <div class="form-group">
        <label for="notes">Notes</label>
        <textarea name="notes" id="notes" class="form-control" rows="3" [(ngModel)]="userSettings.notes"></textarea>
    </div>
    <div [hidden]='!postError' class="alert alert-danger">{{ postErrorMessage }}</div>
    <div [hidden]='!postSubmit' class="alert alert-success">{{ postSubmitMessage }}</div>
    <hr/>
    <button type="submit" class="btn btn-success">Update</button>&nbsp;
    <a [routerLink]="['/users']" class="btn btn-primary"><span class="fa fa-chevron-left"></span> Back</a>
  </form>

</div>
