<div [title]="rating"
     (click)='RatingClicked();'>
     <div style="width: 300px; position:absolute;">
        <span class="fa fa-star-o fa-2x"></span>
        <span class="fa fa-star-o fa-2x"></span>
        <span class="fa fa-star-o fa-2x"></span>
        <span class="fa fa-star-o fa-2x"></span>
        <span class="fa fa-star-o fa-2x"></span>        
        <span class="fa fa-star-o fa-2x"></span>
        <span class="fa fa-star-o fa-2x"></span>
        <span class="fa fa-star-o fa-2x"></span>
        <span class="fa fa-star-o fa-2x"></span>       
        <span class="fa fa-star-o fa-2x"></span>
      </div>
  <div class="crop"
  [style.width.px]="starWidth">
    <div style="width: 300px;">
      <span class="fa fa-star fa-2x"></span>
      <span class="fa fa-star fa-2x"></span>
      <span class="fa fa-star fa-2x"></span>
      <span class="fa fa-star fa-2x"></span>
      <span class="fa fa-star fa-2x"></span>
      <span class="fa fa-star fa-2x"></span>
      <span class="fa fa-star fa-2x"></span>
      <span class="fa fa-star fa-2x"></span>
      <span class="fa fa-star fa-2x"></span>
      <span class="fa fa-star fa-2x"></span>
    </div>
  </div>
</div>